

body{
    background-image: url("https://cutewallpaper.org/27/cat-peeking-out-of-screen-wallpaper/257954834.jpg");
    background-size: cover;
}
.container{
    display: flex;
    flex-wrap: wrap; 
}
.main_heading{
    text-align: center;
    font-weight: bold;
    color: rgb(33, 30, 30);
    font-size: 40px;
    margin: 0%;
}
.paragraph{
    text-align: center;
    font-size: 20px;
}
.image{
    height: 40vh;
    width: 30vw;
    margin: 2px;
    transition: all 0.1s; 
}
img:hover{
    transform: scale(1.1);
}